app/__pycache__/__init__.cpython-38.pyc
app/__pycache__/config.cpython-38.pyc
app/__pycache__/*
__pycache__/test.cpython-38.pyc
.vscode/settings.json
app/Untitled-1.ipynb
.vscode/settings.json
.vscode/settings.json
app/main_prueba.py
app/main_test.py
app/Untitled-1.ipynb
app/Untitled-1.ipynb
